.header {
  text-align: center;
}
.drawLine {
  border-bottom: 1px solid grey;
}

.card {
  border: none;
  /* margin-left: auto; */
}
a {
  color: black;
}
a:hover {
  text-decoration: none;
}
span {
  color: red;
  font-weight: bold;
}
h6 {
  color: red;
  font-weight: bold;
  font-size: 20px;
}

.next-article {
  column-count: 5;
}

/*section1 mainArticle  */
.firstCardTitle {
  font-weight: bolder;
  font-size: 35px;
}
.mainArticleCard {
  width: 22rem;
}
.mainArticleImage {
  height: 13rem;
}
/* section2 two Article next to mainArticle */
.twoArticleCard {
  width: 18rem;
  height: 25rem;
}
.twoArticleCard .twoArticleImage {
  height: 10rem;
}
/* section3 recent post */
.recentPost {
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: gray;
}
.recentPostImage {
  width: 160px;
  height: 170;
}
.recentPostTitle {
  vertical-align: middle;
}
/* section4 horizontal Artical */
.horizontalarticalImage {
  width: 200px;
  height: 200px;
}
/* section5 Most Popular */
.MostPopular {
  bottom: 150px;
}
.MostPopular .MostPopularTitle {
  vertical-align: middle;
}

/* section6 Trending */
.trendingCard {
  width: 15rem;
  height: 25rem;
}

.trendingCard .trendingCardImage {
  height: 10rem;
}

.trendingCard .trendingCardTitle {
  justify-content: center;
}
