<h1 class="header mb-5 mt-3">Latest News</h1>
<div class="container mt-5">
  <div class="row ">
    <!-- section1 mainArticle -->
    <div class="col-xl-4 col-lg-4 col-md-6 col-12">
      <div
        class="articals"
        *ngFor="let artical of eachArtical | slice: 0:1; let i = index"
      >
        <div class="card mainArticleCard">
          <img
            class="card-img-top mainArticleImage"
            [src]="artical.urlToImage"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title firstCardTitle">{{ artical.title }}</h5>
            <p class="card-text">{{ artical.description }}</p>
            <button (click)="sendItem(artical.title)" class="btn btn-primary">
              Show More
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- section2 two Article next to mainArticle -->
    <div class="col-xl-4 col-lg-4 col-md-6 col-12 ">
      <div
        class="articals"
        *ngFor="let artical of eachArtical | slice: 1:3; let i = index"
      >
        <div class="card twoArticleCard">
          <img
            class="card-img-top twoArticleImage"
            [src]="artical.urlToImage"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">{{ artical.title }}</h5>

            <button (click)="sendItem(artical.title)" class="btn btn-primary">
              Show More
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- section3 recent post -->
    <div class="col-4 recentPost d-none d-lg-block d-xl-block">
      <h6>Recent Post</h6>
      <div
        class="articals"
        *ngFor="let artical of eachArtical | slice: 6:9; let i = index"
      >
        <div class="row mb-5">
          <div class="col-5 mr-3">
            <img class="recentPostImage" [src]="artical.urlToImage" />
          </div>

          <div class="col-6 recentPostTitle">
            <a [routerLink]="" (click)="sendItem(artical.title)">
              {{ artical.title }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- section4 horizontal artical-->
    <div class="col-8">
      <h6 class="mb-3">Editors Picks</h6>
      <div
        class="articals  mb-5"
        *ngFor="let artical of eachArtical | slice: 3:6; let i = index"
      >
        <div class="card">
          <div class="card-horizontal">
            <div class="row">
              <div class="col-3">
                <div class="img-square-wrapper">
                  <img
                    class="horizontalarticalImage"
                    [src]="artical.urlToImage"
                    alt="Card image cap"
                  />
                </div>
              </div>
              <div class="col-9">
                <a [routerLink]="" (click)="sendItem(artical.title)">
                  <div class="card-body">
                    <h4 class="card-title">{{ artical.title }}</h4>
                    <p class="card-text">{{ artical.description }}</p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- section5 Most Popular-->
    <div class="col-4 recentPost MostPopular d-none d-lg-block d-xl-block">
      <h6>5 Most Popular</h6>
      <div
        class="articals"
        *ngFor="let artical of eachArtical | slice: 0:5; let i = index"
      >
        <a [routerLink]="" (click)="sendItem(artical.title)">
          <div class="col-12 mb-3 MostPopularTitle">
            <span>{{ i + 1 }}.</span> {{ artical.title }}
          </div>
        </a>
      </div>
    </div>
  </div>

  <!-- section6 Trending-->
  <div class="col-12">
    <div class="drawLine"></div>
  </div>
  <h6 class="mt-3 mb-4">Trending</h6>
  <div class="row">
    <div
      class="articals col-3 mb-5"
      *ngFor="let artical of eachArtical | slice: 3:7; let i = index"
    >
      <div class="card trendingCard">
        <img
          class="card-img-top trendingCardImage"
          [src]="artical.urlToImage"
          alt="Card image cap"
        />
        <div class="card-body">
          <a [routerLink]="" (click)="sendItem(artical.title)">
            <h5 class="card-title trendingCardTitle">
              {{ artical.title }}
            </h5>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
